!!!
html
	head
		title Node Chat
		link(href='/css/main.css' type='text/css' rel='stylesheet')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/msgParser.js')
		script(src='/js/chat.js')
	body
		#wrapper
			#conversation
			#users
			.controls
				input#msg(type='text')
				button#chatsend.btn.btn-primary(type='button')
					| send