!!!
html
	head
		title Node Chat
		link(href='/css/main.css' type='text/css' rel='stylesheet')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/msgParser.js')
		script(src='/js/chat.js')
	body
		#wrapper
			.left
				#conversation
				.controls
					input#msgInput(type='text')
					button#chatsend.btn.btn-primary(type='button')
						| send
			.right
				#users
				ul.btnbar
					li
						a#showSmileys(href='#', data-action="showSmileys")
							img(src='/images/smiley.gif' width='20' height='20')
					li
						a#link(href='#', data-action="showLink" data-tag='|URL=|')
							img(src='/images/link.gif' width='20' height='20')
					
			include modal.jade
			.smileys
				include smileys_set1.jade