
li(data-smiley=":x")
	span
		img(src="/images/smileys/set1/angry no.gif" alt="angry no")
	span
		| Angry no


li(data-smiley=":clap:")
	span
		img(src="/images/smileys/set1/applause.gif" alt="applause")
	span
		| Applause


li(data-smiley=":hug:")
	span
		img(src="/images/smileys/set1/big hug.gif" alt="big hug")
	span
		| Big hug


li(data-smiley=":lol:")
	span
		img(src="/images/smileys/set1/big laugh.gif" alt="big laugh")
	span
		| Big laugh


li(data-smiley=":blabla:")
	span
		img(src="/images/smileys/set1/bla bla.gif" alt="bla bla")
	span
		| Bla bla


li(data-smiley=":bored:")
	span
		img(src="/images/smileys/set1/bored.gif" alt="bored")
	span
		| Bored


li(data-smiley=":D")
	span
		img(src="/images/smileys/set1/bounce ball.gif" alt="bounce ball")
	span
		| Bounce ball


li(data-smiley=":bye:")
	span
		img(src="/images/smileys/set1/bye bye.gif" alt="bye bye")
	span
		| Bye bye


li(data-smiley=":callme:")
	span
		img(src="/images/smileys/set1/call me.gif" alt="call me")
	span
		| Call me


li(data-smiley=":cheerup:")
	span
		img(src="/images/smileys/set1/cheer up.gif" alt="cheer up")
	span
		| Cheer up


li(data-smiley=":cheers:")
	span
		img(src="/images/smileys/set1/cheers.gif" alt="cheers")
	span
		| Cheers


li(data-smiley=":congrats:")
	span
		img(src="/images/smileys/set1/congrats.gif" alt="congrats")
	span
		| Congrats


li(data-smiley=":cool:")
	span
		img(src="/images/smileys/set1/cool.gif" alt="cool")
	span
		| Cool

li(data-smiley=":disappointed:")
	span
		img(src="/images/smileys/set1/disappointed.gif" alt="Disappointed")
	span
		| Disappointed


li(data-smiley=":luck:")
	span
		img(src="/images/smileys/set1/good luck.gif" alt="good luck")
	span
		| Good luck


li(data-smiley=":gm:")
	span
		img(src="/images/smileys/set1/good morning.gif" alt="good morning")
	span
		| Good morning


li(data-smiley=":gn:")
	span
		img(src="/images/smileys/set1/good night.gif" alt="good night")
	span
		| Good night


li(data-smiley=":hear:")
	span
		img(src="/images/smileys/set1/hear ya.gif" alt="hear ya")
	span
		| Hear ya


li(data-smiley=":hs:")
	span
		img(src="/images/smileys/set1/hello, soldier.gif" alt="hello, soldier")
	span
		| Hello, soldier


li(data-smiley=":idk:")
	span
		img(src="/images/smileys/set1/i don't know.gif" alt="i don't know")
	span
		| I don't know


li(data-smiley=":ihu:")
	span
		img(src="/images/smileys/set1/i hate you.gif" alt="i hate you")
	span
		| I hate you


li(data-smiley=":ik:")
	span
		img(src="/images/smileys/set1/i know.gif" alt="i know")
	span
		| I know


li(data-smiley=":ilk:")
	span
		img(src="/images/smileys/set1/i like you.gif" alt="i like you")
	span
		| I like you


li(data-smiley=":loveu2:")
	span
		img(src="/images/smileys/set1/i love you too.gif" alt="i love you too")
	span
		| I love you too


li(data-smiley=":lu:")
	span
		img(src="/images/smileys/set1/i love you.gif" alt="i love you")
	span
		| I love you


li(data-smiley=":imu:")
	span
		img(src="/images/smileys/set1/i miss you.gif" alt="i miss you")
	span
		| I miss you


li(data-smiley=":back:")
	span
		img(src="/images/smileys/set1/i'm back.gif" alt="i'm back")
	span
		| I'm back


li(data-smiley=":mad:")
	span
		img(src="/images/smileys/set1/i'm mad as hell.gif" alt="i'm mad as hell")
	span
		| I'm mad as hell


li(data-smiley=":bored:")
	span
		img(src="/images/smileys/set1/i'm so bored.gif" alt="i'm so bored")
	span
		| I'm so bored


li(data-smiley=":sorry:")
	span
		img(src="/images/smileys/set1/i'm sorry.gif" alt="i'm sorry")
	span
		| I'm sorry


li(data-smiley=":beautiful:")
	span
		img(src="/images/smileys/set1/it's a beautiful thing.gif" alt="it's a beautiful thing")
	span
		| It's a beautiful thing


li(data-smiley=":abouttime:")
	span
		img(src="/images/smileys/set1/it's about time.gif" alt="it's about time")
	span
		| It's about time


li(data-smiley=":allgood:")
	span
		img(src="/images/smileys/set1/it's all good.gif" alt="it's all good")
	span
		| It's all good


li(data-smiley=":notfair:")
	span
		img(src="/images/smileys/set1/it's not fair.gif" alt="it's not fair")
	span
		| It's not fair

li(data-smiley=":looser:")
	span
		img(src="/images/smileys/set1/looser.gif" alt="looser")
	span
		| Looser


li(data-smiley=":wub:")
	span
		img(src="/images/smileys/set1/my love.gif" alt="my love")
	span
		| My love


li(data-smiley=":no:")
	span
		img(src="/images/smileys/set1/no.gif" alt="no")
	span
		| No


li(data-smiley=":please:")
	span
		img(src="/images/smileys/set1/please.gif" alt="please")
	span
		| Please


li(data-smiley=":rofl:")
	span
		img(src="/images/smileys/set1/rolling on the floor laughing.gif" alt="rolling on the floor laughing")
	span
		| Rolling on the floor laughing


li(data-smiley=":shock:")
	span
		img(src="/images/smileys/set1/shock.gif" alt="shock")
	span
		| Shock


li(data-smiley=":nanananana:")
	span
		img(src="/images/smileys/set1/tease.gif" alt="tease")
	span
		| Tease


li(data-smiley=":chinscratch:")
	span
		img(src="/images/smileys/set1/thinking.gif" alt="thinking")
	span
		| Thinking


li(data-smiley=":welcomehome:")
	span
		img(src="/images/smileys/set1/welcome home.gif" alt="welcome home")
	span
		| Welcome home


li(data-smiley=":whatever:")
	span
		img(src="/images/smileys/set1/whatever.gif" alt="whatever")
	span
		| Whatever


li(data-smiley=":welcome:")
	span
		img(src="/images/smileys/set1/you are welcome.gif" alt="you are welcome")
	span
		| You are welcome


li(data-smiley=":rock:")
	span
		img(src="/images/smileys/set1/you rock.gif" alt="you rock")
	span
		| You rock

