
li
 	span
		img(src="/public/images/smileys/set1/applause.gif" alt="applause emoticon")
	span
		| Applause
li
	span
		img(src="/public/images/smileys/set1/big hug.gif" alt="big hug emoticon")
	span
		| Big Hug
li
	span
		img(src="/public/images/smileys/set1/bla bla.gif" alt="bla bla smiley")
	span
		| Bla Bla
li
	span
		img(src="/public/images/smileys/set1/bored.gif" alt="bored smiley")
	span
		| Bored
li
	span
		img(src="/public/images/smileys/set1/bye bye.gif" alt="bye bye smiley")
	span
		| Bye Bye
li
	span
		img(src="/public/images/smileys/set1/call me.gif" alt="call me emoticon")
	span
		| Call Me
li
	span
		img(src="/public/images/smileys/set1/cheer up.gif" alt="cheer up emoticon")
	span
		| Cheer Up
li  
	span
		img(src="/public/images/smileys/set1/cheers.gif" alt="cheers emoticon")
	span
	| Cheers

li
	span
		img(src="/public/images/smileys/set1/congrats.gif" alt="congrats smiley")
	spanCongrats
	span
		img(src="/public/images/smileys/set1/cool.gif" alt="cool smiley")
	spanCool

li
	span
		img(src="/public/images/smileys/set1/good luck.gif" alt="good luck smiley")
	spanGood Luck
	span
		img(src="/public/images/smileys/set1/good morning.gif" alt="good morning smiley")
	spanGood Morning

li
	span
		img(src="/public/images/smileys/set1/good night.gif" alt="good night smiley")
	spanGood Night
	span
		img(src="/public/images/smileys/set1/hear ya.gif" alt="hear ya smiley")
	spanHear Ya

li
	span
		img(src="/public/images/smileys/set1/hello, soldier.gif" alt="hello, soldier smiley")
	spanHello, Soldier
	span
		img(src="/public/images/smileys/set1/i don't know.gif" alt="I don't know smiley")
	spanI Don't Know

li
	span
		img(src="/public/images/smileys/set1/i hate you.gif" alt="i hate you smiley")
	spanI Hate You
	span
		img(src="/public/images/smileys/set1/i know.gif" alt="i know emoticon")
	spanI Know

li
	span
		img(src="/public/images/smileys/set1/i like you.gif" alt="i like you smiley")
	spanI Like You
	span
		img(src="/public/images/smileys/set1/i love you too.gif" alt="i love you too smiley")
	spanI Love You Too

li
	span
		img(src="/public/images/smileys/set1/i love you.gif" alt="i love you emoticon")
	spanI Love You
	span
		img(src="/public/images/smileys/set1/i miss you.gif" alt="i miss you emoticon")
	spanI Miss You

li
	span
		img(src="/public/images/smileys/set1/i want you.gif" alt="i want you smiley")
	spanI Want You
	span
		img(src="/public/images/smileys/set1/i'm back.gif" alt="i'm back smiley")
	spanI'm Back

li
	span
		img(src="/public/images/smileys/set1/i'm mad as hell.gif" alt="i'm mad as hell emoticon")
	spanI'm Mad as Hell
	span
		img(src="/public/images/smileys/set1/i'm so bored.gif" alt="i'm so bored smiley")
	spanI'm so Bored

li
	span
		img(src="/public/images/smileys/set1/i'm sorry.gif" alt="i'm sorry emoticon")
	spanI'm Sorry
	span
		img(src="/public/images/smileys/set1/it's a beautiful thing.gif" alt="it's a beautiful thing smiley")
	spanIt's a Beautiful Thing

li
	span
		img(src="/public/images/smileys/set1/it's a boy.gif" alt="it's a boy smiley")
	spanIt's a Boy
	span
		img(src="/public/images/smileys/set1/it's a girl.gif" alt="it's a girl emoticon")
	spanIt's a Girl

li
	span
		img(src="/public/images/smileys/set1/it's about time.gif" alt="it's about time emoticon")
	spanIt's About Time
	span
		img(src="/public/images/smileys/set1/it's all good.gif" alt="it's all good smiley")
	spanIt's All Good

li
	span
		img(src="/public/images/smileys/set1/it's not fair.gif" alt="it's not fair emoticon")
	spanIt's Not Fair
	span
		img(src="/public/images/smileys/set1/looser.gif" alt="looser smiley")
	spanLooser

li
	span
		img(src="/public/images/smileys/set1/no!.gif" alt="no! smiley")
	spanNo!
	span
		img(src="/public/images/smileys/set1/please.gif" alt="please smiley")
	spanPlease

li
	span
		img(src="/public/images/smileys/set1/pretty smile.gif" alt="pretty smile smiley")
	spanPretty Smile
	span
		img(src="/public/images/smileys/set1/tell a secret.gif" alt="tell a secret smiley")
	spanTell a Secret

li
	span
		img(src="/public/images/smileys/set1/twins.gif" alt="twins smiley")
	spanTwins
	span
		img(src="/public/images/smileys/set1/welcome home.gif" alt="welcome home emoticon")
	spanWelcome Home

li
	span
		img(src="/public/images/smileys/set1/whatever.gif" alt="whatever smiley")
	spanWhatever
	span
		img(src="/public/images/smileys/set1/why.gif" alt="why smiley")
	spanWhy

li
	span
		img(src="/public/images/smileys/set1/woohoo.gif" alt="woohoo emoticon")
	spanWoohoo
	span
		img(src="/public/images/smileys/set1/yes.gif" alt="yes smiley")
	spanYes

li
	span
		img(src="/public/images/smileys/set1/you are hot.gif" alt="you are hot smiley")
	spanYou are Hot
	span
		img(src="/public/images/smileys/set1/you are welcome.gif" alt="you are welcome smiley")
	spanYou are Welcome

li
	span
		img(src="/public/images/smileys/set1/you broke my heart.gif" alt="you broke my heart smiley")
	spanYou Broke my Heart
	span
		img(src="/public/images/smileys/set1/you go girl.gif" alt="you go girl emoticon")
	spanYou Go Girl

li
	span
		img(src="/public/images/smileys/set1/you rock.gif" alt="you rock smiley")
	spanYou Rock
	span
	span

</tbody)</table)